# Introduction
--------------

This Notebook is the simplest example for how to run one single piece of code in Python for the course. Edit someting.

In [1]:
#program for simple print of text
txt="My name is Anurag Dhansingh Rajpurohit."
txt2=" I am a Masters student at Lakehead University."
txt3=" I am from India."
print('\n Hello Everyone, '+txt+txt2+txt3)

 Hello Everyone, My name is Anurag Dhansingh Rajpurohit. I am a Masters student at Lakehead University. I am from India.

Simple program for printing of text

In [2]:
#This is program for multiplication
mul = 1
i = 0
while i < 4:
    n=(input("Enter a number: "))
    i = i + 1
    mul = mul * n
print ("The multiplication is " + str(mul))

Enter a number: 3
Enter a number: 5
Enter a number: 7
Enter a number: 2
The multiplication is 210

The program shows multiplication using while loop

In [3]:
list1=['Firstname','Lastname']
list2=['Anurag','Rajpurohit']
print("data :",list1[0],list2[0])
print("data :",list1[1],list2[1])

('data :', 'Firstname', 'Anurag')
('data :', 'Lastname', 'Rajpurohit')

The notebook shows the use of list and printing the values from the list

We just ran our first Python code on a notebook!

Test your knowledge:

* Execute 3 of the code examples in the tutorial and add some Markdown cells